{% extends "auctions/layout.html" %}

{%block title%}
Categories
{%endblock%}

{% block body %}
<h2 class="sub-heading">Categories</h2>
<ul style="font-size: 20px;" class="list-group">
    {%for category in categories %}
    {% if category == 'None' %}
    <a href="{% url 'category_name' category %}" class="list-group-item list-group-item-action">Unlisted under any category</a>
    {%else%}
    <a href="{% url 'category_name' category %}" class="list-group-item list-group-item-action">{{category}}</a>
    {%endif%} 
    {%endfor%}
</ul>
{%endblock%}